@use './sass/index.module.scss' as v;
.dashboard {
    width: 100%;
    height: 100vh;
    display: grid;
    position: absolute;
    grid-template: 0.5fr 5fr / 17% auto;
    overflow: hidden;
    grid-template-areas:
        "logo content"
        "sidebar content";
    transition: grid-template-columns 500ms ease-in-out .5s;
    &__off {
        grid-template-columns: 0% auto;
    }
    .content {
        grid-area: content;
        display: grid;
        background-color: v.$ultragrey;
    }
}

.scopeMain {
    width: 95%;
    height: 100vh - 1.5vh;
    background-color: v.$white;
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 1.5vh;
}